.card {
    width: 220px;
    height: 370px;
    border: none;
    border-radius: 10px;
    padding-top: 10px;
    position: relative;
    margin: auto;
    font-family: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  .card span {
    font-weight: 600;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 1.3em;
  }
  
  .card .job {
    font-weight: 400;
    display: block;
    text-align: center;
    padding-top: 5px;
    font-size: 1em;
  }
  
  .card .img {
    width: 160px;
    height: 160px;
    background: #e8e8e8;
    margin: auto;
    margin-top: 20px;
    border-radius: 1rem;
  }
  
  .card .img img {
    filter: drop-shadow(-1px 36px 67px rgba(0, 0, 0, 1));
  }

  .card button {
    padding: 8px 25px;
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    font-weight: 600;
  }
  