.card {
    width: 220px;
    height: 370px;
    border: none;
    border-radius: 10px;
    padding-top: 10px;
    position: relative;
    margin: auto;
    font-family: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  .card span {
    font-weight: 600;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 1.3em;
  }
  
  .card .job {
    font-weight: 400;
    display: block;
    text-align: center;
    padding-top: 5px;
    font-size: 1em;
  }
  
  .card .img {
    width: 160px;
    height: 160px;
    background: #e8e8e8;
    margin: auto;
    margin-top: 20px;
    border-radius: 1rem;
  }
  
  .card .img img {
    filter: drop-shadow(-1px 36px 67px rgba(0, 0, 0, 1));
  }

  .card button {
    padding: 8px 25px;
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    font-weight: 600;
  }
  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
      width: 16px !important;
      height: 4px !important;
      border-radius: 5px !important;
      margin: 0 6px !important;
  }

  .swiper-pagination {
      bottom: 2px !important;
  }

  .swiper-wrapper {
      height: max-content !important;
      width: max-content !important;
      padding-bottom: 64px;
  }

  .swiper-pagination-bullet-active {
      background: #38bdf8 !important;
  }
  
  .swiper-slide.swiper-slide-active>.slide_active\:border-indigo-600 {
      --tw-border-opacity: 1;
      border-color: rgb(79 70 229 / var(--tw-border-opacity));
  }

  .swiper-slide.swiper-slide-active>.group .slide_active\:text-gray-800 {
      ---tw-text-opacity: 1;
      color: rgb(31 41 55 / var(--tw-text-opacity));
  }